<form action="/favourites" method="POST">
  <input type="hidden" name="id" value="<%= home._id %>" />
  <button
    type="submit"
    class="bg-green-300 hover:bg-green-500 px-4 py-2 rounded transition"
  >
    Add to Favourite
  </button>
</form>
